In [1]:
                                        "HELLO! WELCOME TO PYTHON COMPLETE TUTORIAL"

"""
INDEX
1. What is Python? 
    1.1 Python uses
    1.2 What Python can do?
    1.3 Why Python?
2. How to Create Variable?
     2.1 Variable Type
     2.2 Casting 
3. Strings Literals
    3.1 String Methods
    3.2 How to take Input from User?
4. Python Operators
    4.1 Arithmetic operators 
    4.2 Assignment operators
    4.3 Comparison operators
    4.4 Logical operators
    4.5 Identity operators
    4.6 Membership operators
    4.7 Bitwise Operators
5. Python Collections
    5.1 Lists
        5.1.1 Lists Method
        5.1.2 Nested Lists 
    5.2 Tuples
        5.2.1 Tuples Method
    5.3 Sets 
        5.3.1 Sets Method
    5.4 Dictionaries
        5.4.1 Nested Dictionaries
6. Python Conditions 
    6.1 If
    6.2 Else
    6.3 Elif
7. Python Loops
    7.1 While Loop
    7.2 For Loop
    7.3 Range Function
    7.4 List Comprehension
8. Python Functions
    8.1 Parameters
        8.1.1 Default Parameters
        8.1.2 Return Values
    8.2 Map Functions
    8.3 Lambda Functions
    8.4 Filter Function
    8.5 
9. Python Classes
    9.1 How to create class
    9.2 How to create object
    9.3 What is Init function?
    9.4 Object Parameter
    9.5 Self Parameter
    9.6 Modify Object properties
    9.7 Delete object properties
    9.8 Delete object
10. Python Dates
    10.1 Date Output
    10.2 Creating Date Objects
    10.3 The strftime() Method
11. Python PIP
    11.1 What is PIP?
    11.2 PIP Installation
    11.3 Reference Links
"""

# Python is a programming language that lets you work more quickly and integrate your systems more effectively.

In [ ]:
"""
1.  What is Python?
     Python is a popular programming language. It was created in 1991 by Guido van Rossum.

       # 1.1
        It is used for:
        web development (server-side),
        software development,
        mathematics,
        system scripting.

       # 1.2 
        What can Python do?
        Python can be used on a server to create web applications.
        Python can be used alongside software to create workflows.
        Python can connect to database systems. It can also read and modify files.
        Python can be used to handle big data and perform complex mathematics.
        Python can be used for rapid prototyping, or for production-ready software development.

       # 1.3 
        Why Python?
        Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
        Python has a simple syntax similar to the English language.
        Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
        Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.
        Python can be treated in a procedural way, an object-orientated way or a functional way.

        Python was designed to for readability, and has some similarities to the English language with influence from mathematics.
        Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.
        Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.

"""

In [1]:
print ("Hello World!")

Hello World!

In [2]:
#2.   Create Varialble

In [ ]:
'''
Unlike other programming languages, Python has no command for declaring a variable.
A variable is created the moment you first assign a value to it.
'''
# // Note : I declare above multiple comment with double quotes and here with single quotes. In python, there is no 
# difference in between of them.

In [3]:
x = 5
y = 'Python'
print (x)
print (y)

5
Python

In [ ]:
'''
# 2.1
Variable Names
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)
Remember that variables are case-sensitive
'''

In [ ]:
"""
# 2.2
Python Numbers
There are three numeric types in Python:

int
float
complex
Variables of numeric types are created when you assign a value to them:
"""

In [4]:
    i = 1    # int
    j = 2.5  # Float 
    k = 3j+2   # Complex

In [5]:
print(type(i))
print(type(j))
print(type(k))

<class 'int'>
<class 'float'>
<class 'complex'>

In [6]:
x = 1
y = 21245124521
z = -24523
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [7]:
u = 2.20     # Float can also be scientific numbers with an "e" to indicate the power of 10.
w = 7.8
x = -852.11
y = 35e2
z = 10E1
print(type(u))
print(type(w))
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [8]:
a = 2j
b = -3+7j
c = -7j
print(type(a))
print(type(b))
print(type(c))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [ ]:
'''
# 2.3  Specify a Variable Type
There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

int() - constructs an integer number from an integer literal, a float literal (by rounding down to the previous whole number) literal, or a string literal (providing the string represents a whole number)
float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals
'''

In [9]:
a = int(2.0411)
b = float(2)
c = complex(6)
d = int(3.210)                            # d = int("3.2")  // It will give you error
e = float("201")
f = complex("23")
g = str("Python")
h = str("1234567")
i = str("120.21")
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)
print(i)

2
2.0
(6+0j)
3
201.0
(23+0j)
Python
1234567
120.21

In [ ]:
"""
#3. String Literals

String literals in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

Strings can be output to screen using the print function. For example: print("hello").

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.
However, Python does not have a character data type, a single character is simply a string with a length of 1.
Square brackets can be used to access elements of the string.
"""

In [10]:
a = 'Python'       # Note :  In Python Index start from 0 where as in R it will start from 1.
a[0]

'P'

In [11]:
a[2]

't'

In [12]:
a[2:5]     # Note : 2 always included while 5 is always excluded this concept is called Slicing. We will see it later.

'tho'

In [13]:
a[-1]     # -1 represent last character

'n'

In [14]:
a[-2]     # -2 represents second last character and so on...

'o'

In [15]:
#3.1  String Methods
a = "welcome to my Tutorial        "
print(a.strip())                     # The strip() method removes any whitespace from the beginning or the end
print(len(a))                        # Return the length
print(a.lower())                     # Return a copy of the string S converted to lowercase.
print(a.capitalize())                # Return a capitalized version of S, i.e. make the first character have upper case and the rest lower case.
print(a.lower())                     # Return a copy of the string S converted to lowercase.
print(a.upper())                     # Return a copy of S converted to uppercase.
print(a.replace("o","L"))            # Return a copy of S with all occurrences of substring old replaced by new.  If the optional argument count is
                                     # given, only the first count occurrences are replaced.
print(a.replace("wel",'not'))
print(a.split())                     # Return a list of the words in S, using sep as the
                                     # delimiter string.  If maxsplit is given, at most maxsplit
                                     # splits are done. If sep is not specified or is None, any
                                     # whitespace string is a separator and empty strings are
                                     # removed from the result.
name = "Mohit"
name1 = "Scientist"

print("My name is {} and I am Data {}".format(name,name1))
# str.format() is one of the string formatting methods in Python3, which allows multiple substitutions and value formatting.
# This method lets us concatenate elements within a string through positional formatting.

welcome to my Tutorial
30
welcome to my tutorial
Welcome to my tutorial
welcome to my tutorial
WELCOME TO MY TUTORIAL
welcLme tL my TutLrial
notcome to my Tutorial
['welcome', 'to', 'my', 'Tutorial']
My name is Mohit and I am Data Scientist

In [ ]:
#3.2 IF you want to take input from user. You can use Input Method

z = input()

#Read a string from standard input.  The trailing newline is stripped.

# The prompt string, if given, is printed to standard output without a
# trailing newline before reading input.

# If the user hits EOF (*nix: Ctrl-D, Windows: Ctrl-Z+Return), raise EOFError.
# On *nix systems, readline is used if available.
z

In [ ]:
print("Hello, "+z)

In [ ]:
#4 Python Operator
"""
Python Operators
Operators are used to perform operations on variables and values.

Python divides the operators in the following groups:

1. Arithmetic operators
2. Assignment operators
3. Comparison operators
4. Logical operators
5. Identity operators
6. Membership operators
7. Bitwise operators  """

In [ ]:
#4.1 Arithmetic Operators

# Python Arithmetic Operators
# Arithmetic operators are used with numerc values to perform common mathematical operations:

    
 # + Addition x + y

print(2+8)

# - Subtraction x - y

print(9-11)

# * Multiplication x * y

print(2*78)

# / Division x / y

print(44/22)           #By default it will give you the answer in Float 
print(11/5)

# % Modulus x % y 

print(57%14)      # Return the Remainder value
print(22%11)

# ** Exponentiation x ** y 

print(3**7)       # ** Represents the Power
print(2**4)

# // Floor division x // y

print(4//2)           # Take the lower value always
print(5//2)           # For Ex -  2.5 if we use Floor Division then it will give you output: 2
print(120//11)

In [83]:
#4.2 Assignment Operators

#Assignment operators are used to assign values to variables:

"""
Operator  Example  Same As
=         x = 5    x = 5
+=        x += 3   x = x + 3
-=        x -= 3   x = x - 3
*=        x *= 3   x = x * 3
/=        x /= 3   x = x / 3
%=        x %= 3   x = x % 3
//=       x //= 3  x = x // 3
**=       x **= 3  x = x ** 3
&=        x &= 3   x = x & 3
|=        x |= 3   x = x | 3
^=        x ^= 3   x = x ^ 3
>>=       x >>= 3  x = x >> 3
<<=       x <<= 3  x = x << 3
"""

In [ ]:
x=50
print(x)

x +=3         # x + = 3  Gives you error Space Matters 
print(x)

x -=2
print(x)

x/= 4
print(x)

x%=7
print(x)

x//=2
print(x)

x **=5
print(x)

x=5               # Note & it is AND Operator and it will convert 5 into binary form 101 and 3 into 011 take AND operator now: 001
x &= 3
print(x)

x|= 3               # It is or Operator
print(x)

x>>2                    # Shift Operators (Right shift and Left shift)
print(x)

x<<2
print(x)

In [ ]:
#4.3 Comparison Operator

# Comparison operators are used to compare two values

In [ ]:
"""
Operator    Name                       Example
==         Equal                       x == y
!=         Not equal                   x != y
>          Greater than                 x > y
<          Less than                    x < y
>=         Greater than or equal to     x >= y
<=         Less than or equal to        x <= y  """

In [ ]:
x= 5
y= 2
print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

In [ ]:
#4.4 Logical Operators

# Logical operators are used to combine conditional statements

In [ ]:
"""
Operator      Description                                                Example
and           Returns True if both statements are true                   x < 5 and  x < 10
or            Returns True if one of the statements is true              x < 5 or x < 4
not           Reverse the result, returns False if the result is true    not(x < 5 and x < 10)
"""

In [ ]:
x =5
print(x<5 and x<10)
print(x<5 or x<4)
print (not(x<5 and x<10))

In [15]:
#4.5 Identity Operator

# Identity operators are used to compare the objects,
# not if they are equal, but if they are actually the same object, with the same memory location:

In [ ]:
"""
Operator              Description                                                           Example
is           Returns true if both variables are the same object                            x is y
is not       Returns false if both variables are the same object                           x is not y
"""

In [22]:
x= 5
y=5
print(x is y)
y=2
print(x is y)
print( x is not y)

True
False
True

In [23]:
#4.6 Membership Operator

# Membership operators are used to test if a sequence is presented in an object

In [ ]:
"""
Operator              Description                                                                    Example 
in                 Returns True if a sequence with the specified value is present in the object      x in y
not in             Returns False if a sequence with the specified value is present in the object     x not in y
"""

In [28]:
x = [1,2,3,4,54,5,5]
print(4 in x)
y = ['Python','is','easy','language']
print('is' not in x)
print('is' in y)
print('is' not in y)

True
True
True
False

In [ ]:
#4.7 Bitwise Operators

"""
Operator               Name                         Description
&                      AND                       Sets each bit to 1 if both bits are 1
|                      OR                        Sets each bit to 1 if one of two bits is 1
^                      XOR                       Sets each bit to 1 if only one of two bits is 1
~                      NOT                       Inverts all the bits
<<                     Zero fill left shift      Shift left by pushing zeros in from the right and let the leftmost bits fall off
>>                     Signed right shift        Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off
"""

In [30]:

a = 60            # 60 = 0011 1100 
b = 13            # 13 = 0000 1101 
c = 0

c = a & b;        # 12 = 0000 1100
print ("Line 1 - Value of c is ", c)

c = a | b;        # 61 = 0011 1101 
print ("Line 2 - Value of c is ", c)

c = a ^ b;        # 49 = 0011 0001
print ("Line 3 - Value of c is ", c)

c = ~a;           # -61 = 1100 0011
print ("Line 4 - Value of c is ", c)

c = a << 2;       # 240 = 1111 0000
print ("Line 5 - Value of c is ", c)

c = a >> 2;       # 15 = 0000 1111
print ("Line 6 - Value of c is ", c)

Line 1 - Value of c is  12
Line 2 - Value of c is  61
Line 3 - Value of c is  49
Line 4 - Value of c is  -61
Line 5 - Value of c is  240
Line 6 - Value of c is  15

In [31]:
#5 Python Collections

In [ ]:
"""
Python Collections (Arrays)
There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.

Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

Set is a collection which is unordered and unindexed. No duplicate members.

Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the 
right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.
"""

In [32]:
#5.1 List

# A list is a collection which is ordered and changeable. In Python lists are written with square brackets.

In [33]:
list = [1,2,3,4,5,6]           # List can be anything with in the square bracket
list

[1, 2, 3, 4, 5, 6]

In [34]:
list = ['Python','Machine Learning', 'Deep Learning','Aritifical Intelligence']
print(list)

['Python', 'Machine Learning', 'Deep Learning', 'Aritifical Intelligence']

In [35]:
print(list[1])

Machine Learning

In [36]:
print(list[-1])

Aritifical Intelligence

In [39]:
print(list[5])       # You will get error as list index out of range

IndexError: list index out of range

In [40]:
# To add an item to the list use append() object method. 
# To remove a specific item use the remove() object method. 
# The len() function returns the length of the list.

In [44]:
ls = [1,2,3,'a','b','ha','c']
ls.append('add')
print(ls)         # Note it will add in the end only
ls.remove(2)
print(ls)
len(ls)

[1, 2, 3, 'a', 'b', 'ha', 'c', 'add']
[1, 3, 'a', 'b', 'ha', 'c', 'add']

7

In [ ]:
"""
5.1.1 List Methods
Python has a set of built-in methods that you can use on lists.

Method                   Description
append()            Adds an element at the end of the list
clear()             Removes all the elements from the list
copy()              Returns a copy of the list
count()             Returns the number of elements with the specified value
extend()            Add the elements of a list (or any iterable), to the end of the current list
index()             Returns the index of the first element with the specified value
insert()            Adds an element at the specified position
pop()               Removes the element at the specified position
remove()            Removes the first item with the specified value
reverse()           Reverses the order of the list
sort()              Sorts the list
"""

In [45]:
list = [ 'a','b','c','d','e']
list.clear()
print(list)      # List becomes empty

[]

In [46]:
list = [ 'a','b','c','d','e']
x = list.copy()   # Copy the list
print(x)

['a', 'b', 'c', 'd', 'e']

In [50]:
list = [ 'a','b','c','d','e','e','e']
print(list.count('a'))     # Count the specific element
print(list.count('e'))

1
3

In [55]:
list = ['a','b','c','d','e']
cars = ['Mercedes','BMW','Maruti Suzuki']
list.extend(cars)
print(list)            # Extend the list
cars.extend(list)
print(cars)

['a', 'b', 'c', 'd', 'e', 'Mercedes', 'BMW', 'Maruti Suzuki']
['Mercedes', 'BMW', 'Maruti Suzuki', 'a', 'b', 'c', 'd', 'e', 'Mercedes', 'BMW', 'Maruti Suzuki']

In [59]:
list = ['a','b','c','d','e']
list.index('c')      # returns the index value
list.index('e')

4

In [60]:
list = ['a','b','c','d','e']
# Let say you want to x in index 1
list.insert(1,'x')
print(list)

['a', 'x', 'b', 'c', 'd', 'e']

In [68]:
list = ['a','b','c','d','e']
list.pop()
print(list)     # Pop method pop out last element
list.pop()
print(list)
list.pop(1)
print(list)

['a', 'b', 'c', 'd']
['a', 'b', 'c']
['a', 'c']

In [71]:
list = ['a','b','c','d','e','a','a','a']
list.remove('a')     # Only remove that a which will first appeared
print(list)

['b', 'c', 'd', 'e', 'a', 'a', 'a']

In [73]:
list = ['a','b','c','d','e']
list.reverse()
print(list)

['e', 'd', 'c', 'b', 'a']

In [75]:
list = ['wa','b','c','d','e']
list.sort()
print(list)
                                               #sort the list
list1 = [223,4,5,3,2,4,6,7,222]
list1.sort()
print(list1)

['b', 'c', 'd', 'e', 'wa']
[2, 3, 4, 4, 5, 6, 7, 222, 223]

In [76]:
#5.1.2 Nested List

In [80]:
    list = [1,2,[3,4]]
#index      0 1   2
list[2]

[3, 4]

In [81]:
list[2][1]

4

In [83]:
   Nest = [1,2,3,[4,5,['target']]]
#index     0,1,2, 3
Nest[3]

[4, 5, ['target']]

In [84]:
Nest[3][2][0]

'target'

In [1]:
#5.2 Tuples

In [2]:
#  A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.

In [9]:
Tuple = ("Mohit",'love','Python',100)
Tuple

('Mohit', 'love', 'Python', 100)

In [10]:
print(Tuple)
print(Tuple[2])

('Mohit', 'love', 'Python', 100)
Python

In [14]:
Tuple = (1,2,3,4,'Python','Machine Learning')
Tuple[4] = 'Artificial Intelligence'
print(Tuple)         # Note As I said above in tuple values cannot be changed so TypeErro will error when we excecute the code.

TypeError: 'tuple' object does not support item assignment

In [16]:
len(Tuple)

6

In [17]:
# 5.3 Sets

In [18]:
# A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

In [19]:
set = {1,2,3,4,5,6,7,8,9}
set

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [27]:
# Repeated numbers not repeated
set = {1,2,1,1,2,2,3,3,2,1,1,1,2,3,}
set

{1, 2, 3}

In [42]:
set = {"apple", "banana", "cherry"}
print(set)
# Note: the set list is unordered, so the result will display the items in a random order.
set.add('Strawberry')
set
set.remove('banana')
set
len(set)

{'cherry', 'banana', 'apple'}

3

In [43]:
# 5.4 Dictionaries

# A dictionary is a collection which is unordered, changeable and indexed.
# In Python dictionaries are written with curly brackets, and they have keys and values.

In [45]:
dict = {'key':'value','key1':'value1'}
dict

{'key': 'value', 'key1': 'value1'}

In [46]:
dict[0]
# It will give you error as mentioned above

KeyError: 0

In [47]:
dict['key']    # You have to specify the particular key

'value'

In [58]:
dict = {'k1':44,'k2':12,'k3':57,'k4':98,'k5':298}
dict

{'k1': 44, 'k2': 12, 'k3': 57, 'k4': 98, 'k5': 298}

In [59]:
dict['k4']

98

In [60]:
# You can also change the value 
dict['k4']= 97
dict     # see the value of k4 changed from 98 to 97

{'k1': 44, 'k2': 12, 'k3': 57, 'k4': 97, 'k5': 298}

In [61]:
# For add new key value pair you can do simply this
dict['k6']=1024
dict

{'k1': 44, 'k2': 12, 'k3': 57, 'k4': 97, 'k5': 298, 'k6': 1024}

In [62]:
# For deleting the key value pair you can use 
del(dict['k2'])
dict

{'k1': 44, 'k3': 57, 'k4': 97, 'k5': 298, 'k6': 1024}

In [63]:
# Let's go in more depth

dict = {'k1':[1,2,2,3,4,5,5],'k2':[12,3,44,566,77],'k3':[1,2,[22,33,65,77,[2,34,57]]]}
dict

{'k1': [1, 2, 2, 3, 4, 5, 5],
 'k2': [12, 3, 44, 566, 77],
 'k3': [1, 2, [22, 33, 65, 77, [2, 34, 57]]]}

In [64]:
# Let suppose you want to extract 33 from the dict
dict['k3'][2][1]

33

In [65]:
## Let suppose you want to extract 34 from the dict
dict['k3'][2][4][1]

34

In [66]:
#5.4.1 Nested Dictionaries

In [67]:
d = {'k1':{'inner key':[1,2,3]}}
d

{'k1': {'inner key': [1, 2, 3]}}

In [68]:
d['k1']

{'inner key': [1, 2, 3]}

In [69]:
d['k1']['inner key']

[1, 2, 3]

In [70]:
d['k1']['inner key'][2]

3

In [ ]:
# 6 Python Condition

"""
Python supports the usual logical conditions from mathematics:

Equals: a == b
Not Equals: a != b
Less than: a < b
Less than or equal to: a <= b
Greater than: a > b
Greater than or equal to: a >= b
These conditions can be used in several ways, most commonly in "if statements" and loops.

An "if statement" is written by using the if keyword.
"""

In [71]:
#6.1 If statement

In [72]:
a = 5
b = 2
if a>b:             # Semicolon is complusory in if, else , elif, def(function) statements
    print(a)

5

In [75]:
# Indentation
# Python relies on indentation,using whitespace, to define scope in the code. 
# Other programming languages often use curly-brackets for this purpose.

In [76]:
a = 5
b = 2
if a>b: 
print(a)                    # see here i didn't give space like in above case so we will get error

IndentationError: expected an indented block (<ipython-input-76-09e32ae36206>, line 4)

In [ ]:
# 6.2  Elif

# The elif keyword is pythons way of saying "if the previous conditions were not true, then do this condition".

In [81]:
a = 5
b = 2
if a < b:
    print(a)
elif a >b:
    print(a)

5

In [ ]:
# 6.3 Else

# The else keyword catches anything which isn't caught by the preceding conditions.

In [82]:
a = 10
b = 5
if a<b:
    print("b is greater"+b)
elif a==b:
    print("a is equal to b")
else:
    print("a is greater then a")

a is greater then a

In [ ]:
#7 Python Loops
"""
Python has two primitive loop commands:

1. While loops
2. For loops
The while Loop
With the while loop we can execute a set of statements as long as a condition is true.

""""

In [1]:
#7.1 while Loop

i=1
while i<5:
    print("i is {}".format(i))
    i=i+1

i is 1
i is 2
i is 3
i is 4

In [2]:
i = 0
while i < 6:
  i += 1 
  if i == 3:    
    continue       # continue 
  print(i)

1
2
4
5
6

In [3]:
i = 0 
while i<6:
    i+=1
    if i == 3:
        break     # break
    print(i)

1
2

In [4]:
#7.2  For Loop

#A for loop is used for iterating over a sequence (that is either a list, a tuple or a string).

# This is less like the for keyword in other programming language, and works more like an iterator method as found 
# in other object-orientated programming languages.

# With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [5]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [6]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [7]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [ ]:
#7.3 Range Function

# To loop through a set of code a specified number of times, we can use the range() function,
# The range() function returns a sequence of numbers, starting from 0 by default, 
# and increments by 1 (by default), and ends at a specified number.

In [8]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [13]:
seq = [1,2,3,4,5,6,7]
for i in seq:
    print(i)

1
2
3
4
5
6
7

In [11]:
# Understand the difference between i and seq
for i in seq:
    print(seq)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]

In [18]:
for x in range(0,9):
    print("i is {}".format(x))

i is 0
i is 1
i is 2
i is 3
i is 4
i is 5
i is 6
i is 7
i is 8

In [21]:
for x in range(0,30,3):    # range(start,stop,step)
    print(x)

0
3
6
9
12
15
18
21
24
27

In [ ]:
#7.4 List Comprehension

In [23]:
x = [1,2,3,4]
out = [ ]   # //Empty List
for num in x:
    out.append(num**2)
    
print(out)

[1, 4, 9, 16]

In [24]:
# By using List Comphrehension we can save alot of time
[num**2 for num in x]

[1, 4, 9, 16]

In [ ]:
#8 Python Functions
"""
A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.
"""

In [32]:
#In Python a function is defined using the def keyword:
def my(name):
    print("Hello! "+name)
    
my('Mohit')

Hello! Mohit

In [ ]:
#8.1 Parameters

# Information can be passed to functions as parameter.

# Parameters are specified after the function name, inside the parentheses.

# You can add as many parameters as you want, just separate them with a comma.

# The following example has a function with one parameter (fname). 

# When the function is called, we pass along a first name, which is used inside the function to print the full name:

In [33]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [ ]:
#8.1.1 Default Parameter Value

# The following example shows how to use a default paramter value.

# If we call the function without parameter, it uses the default value:

In [34]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [ ]:
#8.1.2 Return Values

# To let a function return a value, use the return statement:

In [35]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [36]:
def mysquare(x):
    return x*x

print(mysquare(2))
print(mysquare(4))
print(mysquare(6))
print(mysquare(8))

4
16
36
64

In [37]:
#8.2 Map Function

In [41]:
seq = [1,2,3,4,5]
def times2(var):
    return var**2
map(times2,seq)      # see you will not get the output

In [42]:
# for getting the square of above list. You have to use list.

In [43]:
list(map(times2,seq))

[1, 4, 9, 16, 25]

In [44]:
#8.3 Lambda Function

# In python, the keyword lambda is used to create what is known as anonymous functions. 
# These are essentially functions with no pre-defined name. 
# They are good for constructing adaptable functions, and thus good for event handling.

In [45]:
myfunc = lambda i: i*2
print(myfunc(2))

4

In [ ]:
# Let see the above problem which is done through the map function

In [46]:
def times2(var): return var**2
times2(5)

25

In [47]:
# using lambda
t = lambda var:var**2
t(6)

36

In [48]:
list(map(lambda num:num*3,seq))

[3, 6, 9, 12, 15]

In [49]:
x = lambda q:q**4       # You can do anything very easily with only one to two lines of code 
x(4)

256

In [50]:
#8.4 Filter Function

In [52]:
# filter(function or None, iterable) --> filter object

# Return an iterator yielding those items of iterable for which function(item)
# is true. If function is None, return the items that are true.

list(filter(lambda num:num%2==0,seq))    # seq = [1,2,3,4,5]  you can see above just below section 8.2

[2, 4]

In [ ]:
#8.5 Recursion

"""
Python also accepts function recursion, which means a defined function can call itself.

Recursion is a common mathematical and programming concept. It means that a function calls itself.
This has the benefit of meaning that you can loop through data to reach a result.

The developer should be very careful with recursion as it can be quite easy to slip into writing a
function which never terminates, or one that uses excess amounts of memory or processor power.
However, when written correctly recursion can be a very efficient and mathematically-elegant approach to programming.

In this example, tri_recursion() is a function that we have defined to call itself ("recurse").
We use the k variable as the data, which decrements (-1) every time we recurse. 
The recursion ends when the condition is not greater than 0 (i.e. when it is 0).

To a new developer it can take some time to work out how exactly this works, best way to find out is by testing and modifying it.

"""

In [27]:
def tri_recursion(k):
  if(k>0):
    result = k+tri_recursion(k-1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [58]:
def recur_factorial(n):  
   if n == 1:  
       return n  
   else:  
       return n*recur_factorial(n-1)  
# take input from the user  
 
    num = int(input("Enter a number: "))  

# check is the number is negative  

if num < 0:  
   print("Sorry, factorial does not exist for negative numbers")  

elif num == 0:  
   print("The factorial of 0 is 1")  

else:  
   print("The factorial of",num,"is",recur_factorial(num))

Enter a number: 5
The factorial of 5 is 120

In [62]:
# using For loop
n = int(input())
fact = 1
 
for i in range(1,n+1):
    fact = fact * i
     
print ("The factorial of",n ," is : ",end="")
print (fact)

4
The factorial of 4  is : 24

In [72]:
# 9 Python Class
"""
Python is an object oriented programming language.

Almost everything in Python is an object, with its properties and methods.

A Class is like an object constructor, or a "blueprint" for creating objects.

"""

In [74]:
# 9.1 To create a class, use the keyword class:

In [76]:
class MyClass:
  x = 5
print(MyClass)

<class '__main__.MyClass'>

In [77]:
#9.2 Now we can use the class named myClass to create objects:

In [78]:
p1 = MyClass()
print(p1.x)

5

In [84]:
class a:
    x = 22
    print("Hello, Roll No",x)
a1=a()

Hello, Roll No 22

In [ ]:
#9.3 Init Function

# The examples above are classes and objects in their simplest form, and are not really useful in real life applications.

# To understand the meaning of classes we have to understand the built-in __init__() function.

# All classes have a function called __init__(), which is always executed when the class is being initiated.

# Use the __init__() function to assign values to object properties, or other operations that are necessary 
# to do when the object is being created:

In [86]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("Mohit", 36)

print(p1.name)
print(p1.age)

Mohit
36

In [87]:
# Note: The __init__() function is called automatically every time the class is being used to create a new object.

In [90]:
#9.4 Object Method

# Objects can also contain methods. Methods in objects are functions that belongs to the object.

# Let us create a method in the Person class:

In [92]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [ ]:
# Note: The self parameter is a reference to the class itself, and is used to access variables that belongs to the class.

#9.5 The self Parameter

# The self parameter is a reference to the class itself, and is used to access variables that belongs to the class.

# It does not have to be named self , you can call it whatever you like, 
# but it has to be the first parameter of any function in the class:

In [93]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [95]:
#9.6 Modify Object Properties

# You can modify properties on objects like this:
p1.age= 45
print(p1.age)

45

In [98]:
#9.7 Delete Object Properties

# You can delete properties on objects by using the del keyword:
del p1.age
print(p1.age)   # It will give you error

AttributeError: age

In [100]:
#9.8 del Object

del p1
print(p1)   # Because p1 is deleted

NameError: name 'p1' is not defined

In [ ]:
# 10 Python DateTime
"""
Python Dates
A date in Python is not a data type of its own, but we can import a module named datetime to work with dates as date objects.
"""

In [108]:
import datetime

x = datetime.datetime.now()
print(x)

2018-06-17 03:54:46.997543

In [ ]:
"""
# 10.1
Date Output
When we execute the code from the example above the result will be:

2018-06-21 02:40:30.399105
The date contains year, month, day, hour, minute, second, and microsecond.

The datetime module has many methods to return information about the date object.

Here are a few examples,
"""

In [1]:
import datetime

x = datetime.datetime.now()

print(x.year)
print(x.strftime("%A"))

2018
Thursday

In [ ]:
"""
# 10.2
Creating Date Objects
To create a date, we can use the datetime() class (constructor) of the datetime module.

The datetime() class requires three parameters to create a date: year, month, day.

"""

In [3]:
import datetime

x = datetime.datetime(2019, 2, 17)

print(x)

2019-02-17 00:00:00

In [ ]:
# The datetime() class also takes parameters for time and timezone
# (hour, minute, second, microsecond, tzone), but they are optional, and has a default value of 0, (None for timezone).

In [ ]:
"""
# 10.3
The strftime() Method
The datetime object has a method for formatting date objects into readable strings.

The method is called strftime(), and takes one parameter, format, to specify the format of the returned string:
"""

In [4]:
import datetime

x = datetime.datetime(2018, 6, 1)

print(x.strftime("%B"))

June

In [5]:
# 11 Python PIP

In [ ]:
"""
# 11.1
What is PIP?
PIP is a package manager for Python packages, or modules if you like.

Note: If you have Python version 3.4 or later, PIP is included by default.

What is a Package?
A package contains all the files you need for a module.

Modules are Python code libraries you can include in your project.

# 11.2
Check if PIP is Installed
Navigate your command line to the location of Python's script directory, and type the following:

Example
Check PIP version:

C:\Users\Your Name\AppData\Local\Programs\Python\Python36-32\Scripts>pip --version
Install PIP
If you do not have PIP installed, you can download and install it from this page: https://pypi.org/project/pip/

Download a Package
Downloading a package is very easy.

Open the command line interface and tell PIP to download the package you want.

Navigate your command line to the location of Python's script directory, and type the following:

Example
Download a package named "camelcase":

C:\Users\Your Name\AppData\Local\Programs\Python\Python36-32\Scripts>pip install camelcase
Now you have downloaded and installed your first package!


Using a Package
Once the package is installed, it is ready to use.

Import the "camelcase" package into your project.
"""

In [ ]:
#11.3 For More Packages go to this link - https://pypi.org

In [ ]:
# So that's are end with Python Complete basic Tutorial. I will upload in details about each package/library 
# - Numpys, Pandas, Matplotlib etc.

                                                  # Thank You